<!-- Loop over each object in the projects array -->
<h1>The Tech Blog!!!</h1>


<div class="container"></div>
<div class="card" id="{{post.id}}">
    <div class="card-header" id="{{post.id}}">
        Posted by {{post.user.name}} on: {{format_date post.updated_on }}
    </div>
    <div class="card-body" id="{{post.id}}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title: {{post.post_title}}</label>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" id="{{post.id}}">Content</label>
            <textarea readonly class="form-control border border-success" id="commnet_bodyInput" rows="3">{{post.post_body}}</textarea>
        </div>

    </div>
</div>
<BR></BR>



{{#each comment}}
<div class="container"></div>
<div class="card">
    <div class="card-header">
        by {{this.user.name}} on {{format_date this.created_on}}
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
            <textarea class="form-control" id="NewPostContentInput"
                rows="3">{{this.comments_body}}</textarea>

        </div>
    </div>
</div>
<br>
{{/each}}
<br>


{{#if logged_in}}

<div class="container"></div>
<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
            <textarea class="form-control" id="submitCommentTextArea" rows="3"></textarea>
        </div>
        <a href="#" class="btn btn-primary" id="SubmitBtn">Submit</a>
    </div>
</div>
</div>

{{/if}}


<script src="/scripts/submitComment.js"></script>